*.iml
.idea/

.gradle/
/gradle/
gradle-app.setting
!gradle-wrapper.jar
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
thumbs.db

/app/build
/app/.cxx

/build/
/captures
.externalNativeBuild
.cxx

*.log
*.apk
*.aar
*.keystore
